name: Build Docker Image & Upload Artifact

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t my-python-app:latest .

      - name: Run container & save output
        run: |
          docker run my-python-app:latest > output.txt
          cat output.txt

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-output
          path: output.txt
